In [62]:
# This is for 2017 DF
import numpy as np
import pandas as pd
import requests
from io import StringIO
orig_url = "https://drive.google.com/file/d/1zFHNHw6mTh4kyx8pVd27rh2ttV8b7zfU/view?usp=sharing"
file_id = orig_url.split('/')[-2]
dwn_url='https://drive.google.com/uc?export=download&id=' + file_id
url = requests.get(dwn_url).text
csv_raw = StringIO(url)
csv2017_df = pd.read_csv(csv_raw)
csv2017_df.head(10)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum SelecciÃ³n Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen RodrÃ­guez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La BÃ©gude, named af...",La BrÃ»lade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la BÃ©gude
5,5,Spain,"Deep, dense and pure from the opening bell, th...",Numanthia,95,73.0,Northern Spain,Toro,NaN,Tinta de Toro,Numanthia
6,6,Spain,Slightly gritty black-fruit aromas include a s...,San RomÃ¡n,95,65.0,Northern Spain,Toro,NaN,Tinta de Toro,Maurodos
7,7,Spain,Lush cedary black-fruit aromas are luxe and of...,Carodorum Ãnico Crianza,95,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen RodrÃ­guez
8,8,US,This re-named vineyard was formerly bottled as...,Silice,95,65.0,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,BergstrÃ¶m
9,9,US,The producer sources from two blocks of the vi...,Gap's Crown Vineyard,95,60.0,California,Sonoma Coast,Sonoma,Pinot Noir,Blue Farm

In [63]:
# This is for 2018 DF

import pandas as pd
import requests
from io import StringIO
orig_url = "https://drive.google.com/file/d/1vwuyrdEwqba8LQYr0jnqJozEgtPZLh_l/view?usp=sharing"
file_id = orig_url.split('/')[-2]
dwn_url='https://drive.google.com/uc?export=download&id=' + file_id
url = requests.get(dwn_url).text
csv_raw = StringIO(url)
csv2018_df = pd.read_csv(csv_raw)
csv2018_df.head(5)

,country,title,description,designation,points,price,province,region_1,region_2,variety,winery
0,France,Domaine Fernand Engel 2015 Praelatenberg Grand...,\n Beautifully aromatic h...,Praelatenberg Grand Cru,94,50.0,Alsace,Alsace,NaN,Riesling,Domaine Fernand Engel
1,England,Bride Valley Vineyard 2014 Blanc de Blancs Spa...,\n The merest touch of ne...,Blanc de Blancs,94,75.0,England,NaN,NaN,Sparkling Blend,Bride Valley Vineyard
2,US,Byron 2015 La Encantada Vineyard Pinot Noir (S...,\n There's a prominent bu...,La Encantada Vineyard,94,55.0,California,Sta. Rita Hills,Central Coast,Pinot Noir,Byron
3,US,Challen 2015 Zotovich Vineyard Pinot Noir (Sta...,\n Lean and light aromas ...,Zotovich Vineyard,94,60.0,California,Sta. Rita Hills,Central Coast,Pinot Noir,Challen
4,France,Domaine BarmÃ¨s-Buecher 2016 Hengst Grand Cru ...,\n A citrus zest headines...,Hengst Grand Cru,94,44.0,Alsace,Alsace,NaN,GewÃ¼rztraminer,Domaine BarmÃ¨s-Buecher

# 1. Dropping columns from 2017/2018 that are irrelevant to our ML

In [64]:

csv2017_df = csv2017_df.drop(['Unnamed: 0', 'region_1', 'region_2', 'description'], axis=1)
csv2017_df.head(5)

,country,designation,points,price,province,variety,winery
0,US,Martha's Vineyard,96,235.0,California,Cabernet Sauvignon,Heitz
1,Spain,Carodorum SelecciÃ³n Especial Reserva,96,110.0,Northern Spain,Tinta de Toro,Bodega Carmen RodrÃ­guez
2,US,Special Selected Late Harvest,96,90.0,California,Sauvignon Blanc,Macauley
3,US,Reserve,96,65.0,Oregon,Pinot Noir,Ponzi
4,France,La BrÃ»lade,95,66.0,Provence,Provence red blend,Domaine de la BÃ©gude

In [65]:
csv2018_df = csv2018_df.drop(['title', 'region_1', 'region_2', 'description'], axis=1)
csv2018_df.head(5)

,country,designation,points,price,province,variety,winery
0,France,Praelatenberg Grand Cru,94,50.0,Alsace,Riesling,Domaine Fernand Engel
1,England,Blanc de Blancs,94,75.0,England,Sparkling Blend,Bride Valley Vineyard
2,US,La Encantada Vineyard,94,55.0,California,Pinot Noir,Byron
3,US,Zotovich Vineyard,94,60.0,California,Pinot Noir,Challen
4,France,Hengst Grand Cru,94,44.0,Alsace,GewÃ¼rztraminer,Domaine BarmÃ¨s-Buecher

In [66]:
# Check 2017 df has null values
csv2017_df.isnull().sum()

country            5
designation    45735
points             0
price          13695
province           5
variety            0
winery             0
dtype: int64

In [67]:
# Check 2018 has null values
csv2018_df.isnull().sum()

country           2
designation    5957
points            0
price          1288
province          2
variety           0
winery            0
dtype: int64

In [68]:
# Check 2017 Unique Values
len(csv2017_df.designation.unique())
# Check 2017 Unique Values
#len(csv2017_df.country.unique())

30622

# 2. Drop NA rows - do a health check / check data types / drop dupes

In [69]:
# Drop 2017 NaN Values then check number of data rows
dropped_df2017 = csv2017_df.dropna()
dropped_df2017.count()

country        94919
designation    94919
points         94919
price          94919
province       94919
variety        94919
winery         94919
dtype: int64

In [70]:
# Drop 2018 Nan Values then check number of data rows
dropped_df2018 = csv2018_df.dropna()
dropped_df2018.count()

country        16013
designation    16013
points         16013
price          16013
province       16013
variety        16013
winery         16013
dtype: int64

In [71]:
sample_percentage = dropped_df2018.count()/dropped_df2017.count()
sample_percentage

country        0.168702
designation    0.168702
points         0.168702
price          0.168702
province       0.168702
variety        0.168702
winery         0.168702
dtype: float64

In [77]:
# 2. A) Check if we need to convert any data types
dropped_df2017.dtypes
dropped_df2018.dtypes

country         object
designation     object
points           int64
price          float64
province        object
variety         object
winery          object
dtype: object

In [87]:
# Create a list for Unique Values
unique_2017_designation = dropped_df2017.designation.unique()
len(unique_2017_designation)

28343

In [89]:
# Concatnate designation and winery
#dropped_df2017['identifier'] = dropped_df2017['designation'].astype(str)+'_'+dropped_df2017['winery']
#dropped_df2017.head()

<ipython-input-89-34fbab1e831e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dropped_df2017['identifier'] = dropped_df2017['designation'].astype(str)+'_'+dropped_df2017['winery']

,country,designation,points,price,province,variety,winery,identifier
0,US,Martha's Vineyard,96,235.0,California,Cabernet Sauvignon,Heitz,Martha's Vineyard_Heitz
1,Spain,Carodorum SelecciÃ³n Especial Reserva,96,110.0,Northern Spain,Tinta de Toro,Bodega Carmen RodrÃ­guez,Carodorum SelecciÃ³n Especial Reserva_Bodega C...
2,US,Special Selected Late Harvest,96,90.0,California,Sauvignon Blanc,Macauley,Special Selected Late Harvest_Macauley
3,US,Reserve,96,65.0,Oregon,Pinot Noir,Ponzi,Reserve_Ponzi
4,France,La BrÃ»lade,95,66.0,Provence,Provence red blend,Domaine de la BÃ©gude,La BrÃ»lade_Domaine de la BÃ©gude

In [93]:
#dropped_df2017['identifier'].value_counts()

Vintner's Reserve_Kendall-Jackson                     81
Flood Family Vineyards_Rancho Sisquoc                 61
Broquel_Trapiche                                      58
Oak Cask_Trapiche                                     57
Two Vines_Columbia Crest                              55
                                                      ..
Narcissa_Whitman Cellars                               1
Terre di Rubinoro_Vecchia Cantina di Montepulciano     1
Vigna Spuntali_Val di Suga                             1
Bul's RosÃ©_Jean-Luc BaldÃ¨s                           1
Gran Reserva_ViÃ±a Cerrada                             1
Name: identifier, Length: 37325, dtype: int64

In [72]:
# 2. B) See if we need to bucket any of the data together 
# 3. A) Count 2017 rows
# 3. B) Count by country
# 4. Create an identifier
# 5. Create unique modifier
# 6. Identify unique values
# 7. fix weird characters by using R.E. (if needed)

In [73]:
# What columns to drop:
# Region 1
# Region 2
# Title
# Description
# unnamed 0

In [74]:
# MACHINE LEARNING

# import dependencies 
# Scatter plot to check types (price / ratings)
# create new DF (x df / y df)
# separate data into 2 sets of data for training and for testing
# number of samples and features - shaping
# check the array [x:5]
# confirming data is right
# Create model with scikit-learn
# fit data into the model by convention, X is uppercase, y is lowercase
# create a best fit linear-regression line
# identify slopes for statistical purposes